MERCHANT_ID=57add8af-d999-4a29-924a-c70c25c72f45
CATALOG_ITEMS_SIZE=5000
CATEGORY_ITEMS_SIZE=12
REQUEST_TIMEOUT_MS=5000
REQUEST_INTERVAL_MS=5000
IFOOD_HEADERS_FILE=./output/headers_produtos.json
IFOOD_COOKIE=

COLETA_TIPO=Atacado
COLETA_CEP=
COLETA_CIDADE=
COLETA_BAIRRO=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

IFOOD_CA_BUNDLE=
IFOOD_INSECURE_SSL=
IFOOD_AUTO_FALLBACK_INSECURE_SSL=1

CONSINCO_ENABLED=false
CONSINCO_API=
CONSINCO_API_PORT=443
CONSINCO_COMPANY=
CONSINCO_USER=
CONSINCO_PWD=
CONSINCO_SEQ_CONCORRENTE=
CONSINCO_SEQ_LISTA=
CONSINCO_DATA_PESQUISA=
CONSINCO_EMPRESAS_JSON=[]
CONSINCO_TIMEOUT_MS=180000

DB_ENABLED=false
DW_URL_DB=
DW_USER_DB=
DW_PWD_DB=
DB_CONNECT_TIMEOUT_MS=60000

EMAIL_ENABLED=false
SMTP_HOST=
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PWD=
SMTP_DESTINOS=
EMAIL_ASSUNTO_PREFIXO=Produtos coletados do concorrente Assai
EMAIL_ANEXO_PREFIX=coletaTotalAssai
