MERCHANT_ID=57add8af-d999-4a29-924a-c70c25c72f45
CATALOG_ITEMS_SIZE=5000
CATEGORY_ITEMS_SIZE=12
REQUEST_TIMEOUT_MS=5000
REQUEST_INTERVAL_MS=5000
IFOOD_HEADERS_FILE=./output/headers_produtos.json
IFOOD_COOKIE=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

IFOOD_CA_BUNDLE=
IFOOD_INSECURE_SSL=
IFOOD_AUTO_FALLBACK_INSECURE_SSL=1
